#activate_view {
    min-height: 93dvh;
    background-color: var(--bg-secondary);

    & #div_message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#activate_box {
    background-color: var(--bg-main);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid var(--highlight);
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & #div_loading {
        display: flex;
        justify-content: center;
    }
}