#loading {
    border: 5px solid var(--highlight);
    border-bottom-color: transparent;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}