#create_account_view {
    min-height: 93dvh;
    background-color: var(--bg-secondary);
}

#create_account_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-main);
    width: 20rem;
    border: 1px solid var(--highlight);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & h1 {
        color: var(--text-main);
        text-align: center;
    }

    & input, button {
        background-color: var(--bg-secondary);
        border: 1px solid var(--highlight);
        padding: 0.5rem;
        color: var(--text-main);
    }
}

#error_messages {
    background-color: var(--warning-light);
    padding: 1rem;
    border-radius: 0.3rem;
    border: 2px solid var(--warning);

    & li {
        list-style-type: none;
    }
}

#success_message {
    background-color: var(--bg-main);
    color: var(--text-main);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 0.3rem;
    border: 2px solid var(--highlight);
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & h1 {
        text-align: center;
    }

    & button {
        background-color: var(--bg-secondary);
        padding: 0.5rem;
        cursor: pointer;
        border: 1px solid var(--highlight);
    }

    & .link {
        color: var(--highlight);
        text-decoration: none;
    }
}

.disabled {
    cursor: not-allowed;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 5px solid var(--highlight);
    border-bottom-color: transparent;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}